<div class="password-req">
  <div class="password-req__strength">
    <div class="password-req__strength-header">
      <span class="password-req__strength-label">Security Strength</span>
      <span class="password-req__strength-value" [class]="'score-' + strengthScore">{{
        strengthLabel
      }}</span>
    </div>
    <div class="password-req__segments">
      @for (seg of [1, 2, 3, 4]; track seg) {
        <div
          class="password-req__segment"
          [class.active]="seg <= strengthScore"
          [class]="'score-' + strengthScore"
        ></div>
      }
    </div>
  </div>
  <div class="password-req__list">
    <p class="password-req__list-title">Requirements:</p>
    <ul>
      @for (req of requirements; track req.id) {
        <li [class.valid]="req.valid">
          <span class="material-symbols-outlined">{{
            req.valid ? 'check_circle' : 'check_circle'
          }}</span>
          {{ req.label }}
        </li>
      }
    </ul>
  </div>
</div>
